<div class="jumbotron">
    <h3>Editar Contato</h3>
    <hr/>
    <form name="contatoForm">
        <input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true" ng-minlength="10" autofocus="true">
        <input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true" ui-phone ng-pattern="/^\(\d{2}\)\s\d{4,5}-\d{4}$/">
        <select class="form-control" ng-model="operadoraDefault"
            ng-options="operadora.nome + ' ( ' + (operadora.preco | currency) + ' )' for operadora in operadoras | orderBy:'nome'">
        </select>
    </form>
    <div ng-show="contatoForm.nome.$dirty" ng-messages="contatoForm.nome.$error">
        <div ng-message="required" class="alert alert-danger">
            Por favor, preencha o campo nome!
        </div>
        <div ng-message="minlength" class="alert alert-danger">
            O campo nome deve ter no mínimo 10 caracteres.
        </div>
    </div>
    <div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
        Por favor, preencha o campo telefone!
    </div>
    <div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
        O campo telefone deve ter o formato (00) 00000-0000.
    </div>
    <hr/>
	<a class="btn btn-primary" href="#!/contatos">Cancelar</a>
    <button class="btn btn-primary" ng-click="salvarContato(contato)">Salvar</button>
</div>
